* {
  margin:0;
}

.container {
  height: 100vh;
  width: 100vW;
}
.book-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card-column {

  }

  li {
    position: relative;
    border: 1px solid rgb(211, 214, 218);
    height: 32rem;
    width: 16rem;
    list-style-type: none;
  }

  h2 {
    font-weight: 500;
    font-size: 1.3rem;
    margin: 1.2rem;
  }

  h3 {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0 1.2rem 1.4rem;
    color: rgb(108, 110, 112);
  }

  .button-area {
    background-color: rgba(243, 241, 239, 1);
    border-top: 1px solid rgb(211, 214, 218);
    text-align: end;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .button {
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }

  img {
    height: 20rem;
    width: 16rem;
    border: 0.2rem solid black;
    object-fit: cover;
  }
  
  .status {
    font-style: italic;
  }
  
  .book-cover {
    max-height: 15rem;
    object-fit: cover;
    border: 0.2rem solid black;
  }
  