
.container {
  height: 100vh;
  width: 100vW;
}
.book-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .card-column {

  }
.button-area {
    background-color: rgba(243, 241, 239, 1);
    border-top: 1px solid rgb(211, 214, 218);
    text-align: end;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .button {
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }
  
  .status {
    font-style: italic;
  }
  